* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*Body*/
body {
    font-family:Arial, sans-serif;
    background: white;
    line-height: 1.6;
}

/*Header*/
header {
    background: #222;
    color: white;
    padding: 20px;
    text-align:center;
}

/*Menu*/
nav {
    margin-top:10px;
}

nav a {
    color: white;
    text-decoration:none;
    margin: 0 15px;
    font-weight:bold;
}

nav a:hover {
    color: #00bcd4;
}

/*Secciones*/
section { 
    background: #efeded; 
    margin:20px; 
    padding:20px; 
    border-radius:10px; 
}

section:nth-child(even) {
    background: #ffffff;
}

section:nth-child(odd) {
    background: #efeded;
}

section {
    transition: all 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

/*Titulos*/
h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

h3 {
    margin-top:10px;
    color: #555;
}

/*Parrafos*/
p {
    margin-bottom: 10px;
}

/*Formularios*/
form {
    margin-top: 15px;
    display:flex;
    flex-direction:column;
}

/*fila */
.fila {
    display: flex;
    gap: 10px;
}

/* Cada campo ocupa la mitad */
.fila label {
    flex: 1;
    display: flex;
    flex-direction: column;
}
/* Textarea */
textarea {
    width: 100%;
    height: 150px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/*Label*/
label {
    font-size:14px;
    margin-bottom:5px;
    font-weight: bold;
}

/*Input*/
input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #00bcd4;
}

/*Botones*/
button{
    width: auto;
    align-self: flex-start;
    padding: 8px 15px;
    border:none;
    background: #333;
    color: white;
    border-radius:5px;
    cursor:pointer;
}

button:hover {
    background: #00bcd4;
}

/*Pie de pagina*/
footer {
    text-align:center;
    padding:15px;
    background: #222;
    color:white;
    margin-top:20px;
}

/* Tarjeta*/
.servicios-contenedor {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

/*Inicio*/
.hero {
    position: relative;
    height: 300px;
    background: url("img/gaming.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1000px;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.88); 
}

/*Texto*/
.hero-texto {
    position: relative;
    z-index: 1;
    color: #333;
}

.hero-texto h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.hero-texto p {
    color: #666;
}

/* Botones */
.botones {
    margin-top: 15px;
}

.btn {
    background: #333; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background: #00bcd4; 
}

/* Boton secundario */
.btn-secundario {
    background: transparent;
    border: 2px solid #333;
    color: #333;
}

.btn-secundario:hover {
    background: #333;
    color: white;
}

/*Instalaciones*/
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    margin-top: 15px;
}

.galeria img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;

}

/*Acerca de nosotros*/
.acerca-contenedor {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

/* Texto */
.acerca-texto {
    flex: 1;
}

/* Tecnologías */
.tecnologias-contenedor {
    flex: 1;
}

/* grid SOLO para iconos */
.tecnologias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* caja debajo de iconos */
.info-tech {
    margin-top: 15px;
    padding: 15px;
    background: #222;
    color: white;
    border-radius: 10px;
    display: none;
    text-align: center;
}

/* Card de tecnología */
.tech {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s, background 0.3s;
    cursor: pointer;
}

.tech img {
    width: 50px;
    margin-bottom: 10px;
}

/* Interaccion */
.tech:hover {
    transform: translateY(-8px) scale(1.05);
    background: #00bcd4;
    color: white;
}
